<div class="class1"> 
    <h4>Pipes</h4>  
     City: {{city}}<br>  
      Salary: {{salary}}<br>
      n: {{n}}<br>  
      Current time: {{dt}}<br>  
       Person: {{person}}<br> 
        <hr> 
       Uppercase: {{city | uppercase}}<br>
        Lowercase: {{city | lowercase}}<br> 
         Slice: {{city | slice: 2: 6}}<br>  
        number: {{salary | number}}<br> 
        number .2: {{salary | number: ".2"}}<br> 
        currency: {{salary | currency: "USD"}}<br>  
        INR: {{salary | currency: "INR"}}<br>  
         GBP: {{salary | currency: "GBP"}}<br>
          EUR: {{salary | currency: "EUR"}}<br> 
          n (percent): {{n | percent}}<br>  
          json: {{person | json}}<br>  
           Short date: {{dt | date: "shortDate"}}<br>  
           Medium date: {{dt | date: "mediumDate"}}<br> 
          Long date: {{dt | date: "longDate"}}<br>
           Full date: {{dt | date: "fullDate"}}<br>  
           Short time: {{dt | date: "shortTime"}}<br> 
           Long time: {{dt | date: "mediumTime"}}<br>
           Short: {{dt | date: "short"}}<br>
            Medium: {{dt | date: "medium"}}<br> 
           d/M/y: {{dt | date: "d/M/y"}}<br> 
           y-M-d: {{dt | date: "y-M-d"}}<br>  
           h:m:s: {{dt | date: "h:m:s"}}<br> 
           H:m: {{dt | date: "H:m"}}<br> 
           a: {{dt | date: "a"}}<br> 
          EEE: {{dt | date: "EEE"}}<br>  
           EEEE: {{dt | date: "EEEE"}}<br> 
            MMM: {{dt | date: "MMM"}}<br>  
             MMMM: {{dt | date: "MMMM"}}<br>
                Z: {{dt | date: "Z"}} 
</div>